{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if index is defined  %}
            {{ block('index', 'room_partials.html.twig') }}
        {% endif %}
        {% if add is defined %}
            {{ block('add', 'room_partials.html.twig') }}
        {% endif %}
        {% if edit is defined %}
            {{ block('add', 'room_partials.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

